#Import the initial library which will be use in extraction

In [1]:
from PIL import Image
from pytesseract import image_to_string
import pytesseract
import numpy as np
import pandas as pd
import PIL
import cv2
import glob

#Location of Tesseract in your system

In [2]:
pytesseract.pytesseract.tesseract_cmd = r"C:\Program Files (x86)\Tesseract-OCR\tesseract.exe"

#Initial coordinates of s.no,voter id,section and part number and whole block of name, guardian's relation and name,house number,age,gender. Please edit and change by hit and trial basis.

In [3]:
def image_text(x,crop_rectangle_nm = (110,275, 778, 530),crop_rectangle_sn= (130, 230, 303, 265),
               crop_rectangle_vid= (310,230, 1015, 270),crop_rectangle_sect = (550,120, 2400, 180),
               crop_rectangle_pn = (2600,30, 2820, 110)):
    im = Image.open(x)
    im = im.resize((3000, 3882), PIL.Image.LANCZOS)
    im = cv2.bilateralFilter(np.array(im, dtype= np.uint8),9,75,75)
    im = cv2.cvtColor(im, cv2.COLOR_BGR2GRAY)
    im = cv2.adaptiveThreshold(np.array(im,dtype=np.uint8), 255, cv2.ADAPTIVE_THRESH_GAUSSIAN_C, cv2.THRESH_BINARY, 31, 9)
    im = Image.fromarray(im)
    countt = 1 
    
    for i in range(0,10):
        for j in range(0,3):
            kk = []
            

            cropped_im_nm = im.crop(crop_rectangle_nm)
            c_nm = image_to_string(cropped_im_nm,config='-c tessedit_char_whitelist=/-abcdefghijklmnopqrstuvzxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789 --psm 6')
            details = c_nm.splitlines()

            for i in details:
                if len(i)>0:
                    if len(i.split(":"))>1:
                        kk.append(i)

            if len(kk)==4:

                file_name.append(x+str(countt))
                n = kk[0].strip().split(":")[1]
                f = kk[1].strip().split(":")[1]
                h = kk[2].strip().split(":")[1]
                mm = kk[3].strip().split(":")
                a = mm[1].strip().split(" ")[0]
                g = mm[2].strip()
                gr = kk[1].strip().split(":")[0]
                name.append(n)
                father.append(f)
                hno.append(h)
                age.append(a)
                gen.append(g)
                grel.append(gr)
                
            else:
                return image_text_2(im,x)
            
            cropped_im_sn = im.crop(crop_rectangle_sn)
            c_sn = image_to_string(cropped_im_sn, config='-c tessedit_char_whitelist= 0123456789 --psm 6')
            sn.append(c_sn)
            
            cropped_im_pn = im.crop(crop_rectangle_pn)
            c_pn = image_to_string(cropped_im_pn, config='-c tessedit_char_whitelist=0123456789 --psm 6')
            part.append(c_pn)
            
            cropped_im_vid = im.crop(crop_rectangle_vid)
            c_vid = image_to_string(cropped_im_vid,config='-c tessedit_char_whitelist=/-abcdefghijklmnopqrstuvzxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789 --psm 6')
            vid.append(c_vid)
            
            cropped_im_sect = im.crop(crop_rectangle_sect)
            c_sect = image_to_string(cropped_im_sect,config='-c tessedit_char_whitelist=.,/-abcdefghijklmnopqrstuvzxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789 --psm 6')
            section.append(c_sect)
            
            countt+=1

# Find distance between same category horizontally.
# For example find distance between starting coordinate of first box NAME and starting coordinate of secnd box NAME on right
# Make sure we find distance from starting point. Distance should be same for 2nd and 3rd box horizontally as well as for every 4 other value, such as age, sex etc
            crop_rectangle_nm = tuple(np.add(crop_rectangle_nm, (911, 0,911,0)))
            crop_rectangle_sn = tuple(np.add(crop_rectangle_sn, (912, 0,912,0)))
            crop_rectangle_vid =  tuple(np.add(crop_rectangle_vid, (912, 0,912,0)))
# Find ditance between third and first box. Which should be 3 times above found distance

        crop_rectangle_nm = tuple(np.subtract(crop_rectangle_nm, (2733, 0,2733,0)))
        crop_rectangle_sn = tuple(np.subtract(crop_rectangle_sn, (2736, 0,2736,0)))
        crop_rectangle_vid =  tuple(np.subtract(crop_rectangle_vid, (2736, 0,2736,0)))

# Find distance between same category vertically.
# For example find distance between starting coordinate of first box NAME and starting coordinate of secnd box NAME down
# Distance should be same for all 10 boxes vertically as well as for every 4 other value, such as age, sex etc
        crop_rectangle_nm = tuple(np.add(crop_rectangle_nm, (0, 323,0,323)))
        crop_rectangle_sn = tuple(np.add(crop_rectangle_sn, (0, 324,0,324)))
        crop_rectangle_vid =  tuple(np.add(crop_rectangle_vid, (0, 324,0,324)))


    return name,father,hno,age,gen,file_name,grel,sn,vid,section,part

In [4]:
def image_text_2(im,x):
    crop_rectangle_nm = (110,241, 778, 510)
    crop_rectangle_sn= (126, 195, 302, 236)
    crop_rectangle_vid= (310,195, 1015, 240)
    crop_rectangle_sect= (550,120, 2400, 180)
    crop_rectangle_pn = (2600,30, 2820, 110)
    countt = 1 
    
    for i in range(0,10):
        for j in range(0,3):
            kk = []
            cropped_im_nm = im.crop(crop_rectangle_nm)
            c_nm = image_to_string(cropped_im_nm,config='-c tessedit_char_whitelist=/-abcdefghijklmnopqrstuvzxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789 --psm 6')
            details = c_nm.splitlines()
            for i in details:
                if len(i)>0:
                    if len(i.split(":"))>1:
                        kk.append(i)
            if len(kk)==4:
 
                file_name.append(x+str(countt))
                n = kk[0].strip().split(":")[1]
                f = kk[1].strip().split(":")[1]
                h = kk[2].strip().split(":")[1]
                mm = kk[3].strip().split(":")
                a = mm[1].strip().split(" ")[0]
                g = mm[2].strip()
                gr = kk[1].strip().split(":")[0]
                name.append(n)
                father.append(f)
                hno.append(h)
                age.append(a)
                gen.append(g)
                grel.append(gr)
                
            else:
                break
                
            cropped_im_sn = im.crop(crop_rectangle_sn)
            c_sn = image_to_string(cropped_im_sn, config='-c tessedit_char_whitelist=0123456789 --psm 6')
            sn.append(c_sn)
            
            cropped_im_pn = im.crop(crop_rectangle_pn)
            c_pn = image_to_string(cropped_im_pn, config='-c tessedit_char_whitelist=0123456789 --psm 6')
            part.append(c_pn)
            
            cropped_im_vid = im.crop(crop_rectangle_vid)
            c_vid = image_to_string(cropped_im_vid,config='-c tessedit_char_whitelist=/-abcdefghijklmnopqrstuvzxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789 --psm 6')
            vid.append(c_vid)
            
            cropped_im_sect = im.crop(crop_rectangle_sect)
            c_sect = image_to_string(cropped_im_sect,config='-c tessedit_char_whitelist=.,/-abcdefghijklmnopqrstuvzxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789 --psm 6')
            section.append(c_sect)
            
            countt+=1
                

# Find distance between same category horizontally.
# For example find distance between starting coordinate of first box NAME and starting coordinate of secnd box NAME on right
# Make sure we find distance from starting point. Distance should be same for 2nd and 3rd box horizontally as well as for every 4 other value, such as age, sex etc
            crop_rectangle_nm = tuple(np.add(crop_rectangle_nm, (911, 0,911,0)))
            crop_rectangle_sn = tuple(np.add(crop_rectangle_sn, (912, 0,912,0)))
            crop_rectangle_vid =  tuple(np.add(crop_rectangle_vid, (912, 0,912,0)))

# Find ditance between third and first box. Which should be 3 times above found distance

        crop_rectangle_nm = tuple(np.subtract(crop_rectangle_nm, (2733, 0,2733,0)))
        crop_rectangle_sn = tuple(np.subtract(crop_rectangle_sn, (2736, 0,2736,0)))
        crop_rectangle_vid =  tuple(np.subtract(crop_rectangle_vid, (2736, 0,2736,0)))


# Find distance between same category vertically.
# For example find distance between starting coordinate of first box NAME and starting coordinate of secnd box NAME down
# Distance should be same for all 10 boxes vertically as well as for every 4 other value, such as age, sex etc
        crop_rectangle_nm = tuple(np.add(crop_rectangle_nm, (0, 323,0,323)))
        crop_rectangle_sn = tuple(np.add(crop_rectangle_sn, (0, 324,0,324)))
        crop_rectangle_vid =  tuple(np.add(crop_rectangle_vid, (0, 324,0,324)))



    return name,father,hno,age,gen,file_name,grel,sn,vid,section,part

#Fetch all data from the location

In [5]:
#Getting all page 1
page_1 = glob.glob('C:/Users/user/Desktop/New Delhi/Boss/*-01.jpg')
#Getting all page 2
page_2 = glob.glob('C:/Users/user/Desktop/New Delhi/Boss/*-02.jpg')
#Getting all pages
page_all = glob.glob('C:/Users/user/Desktop/New Delhi/Boss/*.jpg')

#Removing page 1 and 2 from all

In [6]:
temp = [i for i in page_all if i not in page_1]
page_fin = [i for i in temp if i not in page_2]

#It gives information about how many pages for extraction

In [7]:
len(page_fin)

41

In [8]:
def split(a, n):
    k, m = divmod(len(a), n)
    return (a[i * k + min(i, m):(i + 1) * k + min(i + 1, m)] for i in range(n))

#Splitting files into 400 parts to increase frequency of saving. Increase the value to save more frequently. Do not change value after running code once. If want to change value after running. Delete all saved files or do maths

In [9]:
page_fin_split =  list(split(page_fin, 4))

#Count value is the starting value for code to work. If the last file saved before stopping code was '10', count value for running code again should be '11'

In [10]:
count = 1
count_sem = 1
for i in page_fin_split[count-1:]:
    name = []
    father = []
    hno = []
    age = []
    gen = []
    file_name = []
    grel =[]
    sn= []
    vid =[]
    section= []
    part =[]
    for j in i:
        n,f,h,a,g,fn,gr,s,v,sc,p = image_text(j)
        print("page_"+str(count_sem))
        count_sem+=1
    
    df = pd.DataFrame(np.column_stack([s,v,sc,p,n,gr,f,h,a,g,fn]), 
                               columns=['S.No','Voter ID','Section', 'Part Num','Name','G_Relation','Guardian', 'House_No','Age','Gender','File_Name'])
    df.to_csv(str(count)+".csv",index = False)
    print(count)
    count+=1

page_1
page_2
page_3
page_4
page_5
page_6
page_7
page_8
page_9
page_10
page_11
1
page_12
page_13
page_14
page_15
page_16
page_17
page_18
page_19
page_20
page_21
2
page_22
page_23
page_24
page_25
page_26
page_27
page_28
page_29
page_30
page_31
3
page_32
page_33
page_34
page_35
page_36
page_37
page_38
page_39
page_40
page_41
4

In [11]:
import shutil
import os

In [12]:
#import csv files from folder
#path = 'C:/Users/ankur/Desktop/hello'
allFiles = glob.glob("*.csv")
with open('final.csv', 'wb') as outfile:
    for i, fname in enumerate(allFiles):
        with open(fname, 'rb') as infile:
            if i != 0:
                infile.readline()  # Throw away header on all but first file
            # Block copy rest of file from input to output without parsing
            shutil.copyfileobj(infile, outfile)
            print(fname + " has been imported.")

1.csv has been imported.
2.csv has been imported.
3.csv has been imported.
4.csv has been imported.

In [14]:
df=pd.read_csv('final2.csv')

In [15]:
df1= pd.read_csv('final.csv')

In [16]:
frame = [df, df1]
result = pd.concat(frame)

In [18]:
result.head()

,S.No,Voter ID,Section,Part Num,Name,G_Relation,Guardian,House_No,Age,Gender,File_Name
0,1,SJE1846426,"1-BLOCK-A , NEAR AMBESSEDOR HOTEL, SUJAN SINGH...",103,BALA,Husband's Name,NARENDER,7,42,FEMALE,C:/Users/user/Desktop/New Delhi/Boss\U05A40P10...
1,2,SJE1285303,"2-BLOCK-F, NEAR AMBASSDOR HOTEL, SUJAN SINGH P...",103,JAISAL SINGH,Father's Name,TEJBIR SINGH,63,38,MALE,C:/Users/user/Desktop/New Delhi/Boss\U05A40P10...
2,3,SJE1666683,"2-BLOCK-F, NEAR AMBASSDOR HOTEL, SUJAN SINGH P...",103,ANJALI ANAND,Husband's Name,JAISAL SINGH,63,36,FEMALE,C:/Users/user/Desktop/New Delhi/Boss\U05A40P10...
3,4,SJE1624468,"2-BLOCK-F, NEAR AMBASSDOR HOTEL, SUJAN SINGH P...",103,KIRIT NATHALAL FATANIA,Father's Name,NATHALAL FATANIA,64,56,MALE,C:/Users/user/Desktop/New Delhi/Boss\U05A40P10...
4,5,SJE1679959,"2-BLOCK-F, NEAR AMBASSDOR HOTEL, SUJAN SINGH P...",103,PARMESHWAR,Father's Name,TRILOK YADAV,64,41,MALE,C:/Users/user/Desktop/New Delhi/Boss\U05A40P10...

In [19]:
result.to_excel('New Delhi Election Data.xlsx', index=False)

In [20]:
df2 = pd.read_excel("New Delhi Election Data.xlsx")

In [22]:
df3= df2['File_Name'].str.split("\\", expand= True)

In [23]:
df2['File_Name']= df3[1]

In [24]:
df2.head()

,S.No,Voter ID,Section,Part Num,Name,G_Relation,Guardian,House_No,Age,Gender,File_Name
0,1,SJE1846426,"1-BLOCK-A , NEAR AMBESSEDOR HOTEL, SUJAN SINGH...",103,BALA,Husband,NARENDER,7,42,FEMALE,U05A40P103-03.jpg1
1,2,SJE1285303,"2-BLOCK-F, NEAR AMBASSDOR HOTEL, SUJAN SINGH P...",103,JAISAL SINGH,Father,TEJBIR SINGH,63,38,MALE,U05A40P103-04.jpg1
2,3,SJE1666683,"2-BLOCK-F, NEAR AMBASSDOR HOTEL, SUJAN SINGH P...",103,ANJALI ANAND,Husband,JAISAL SINGH,63,36,FEMALE,U05A40P103-04.jpg2
3,4,SJE1624468,"2-BLOCK-F, NEAR AMBASSDOR HOTEL, SUJAN SINGH P...",103,KIRIT NATHALAL FATANIA,Father,NATHALAL FATANIA,64,56,MALE,U05A40P103-04.jpg3
4,5,SJE1679959,"2-BLOCK-F, NEAR AMBASSDOR HOTEL, SUJAN SINGH P...",103,PARMESHWAR,Father,TRILOK YADAV,64,41,MALE,U05A40P103-04.jpg4

In [25]:
df2['Gender'].value_counts()

MALE            11752
FEMALE           9369
THIRD GENDER        1
Name: Gender, dtype: int64

In [26]:
df2['G_Relation'].value_counts()

Father     14563
Husband     6328
Mother       189
Other         42
Name: G_Relation, dtype: int64

In [28]:
df2.to_excel('New Delhi Election Data.xlsx', index=False)